html {
    background-color: black;
}
body {
    position: absolute;
    margin: 0;
    background-image:url("./image/supermanstartbackground.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    width: 1000px; 
    height: 700px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;     
}
.buttonarea {
    position: absolute;
    z-index: 10;
    top: 580px;
}
.bouncy:hover {background-color: #ffdd00}
.bouncy{
    animation:bouncy 4s infinite linear;
    position:relative;
    background-color: rgba(243, 192, 9, 0.87);
    border-color:rgb(10, 71, 150);
    border-width: 5px;
    color:rgba(243, 2, 2, 0.876);
    font-weight: bold;
    box-shadow: 0 8px 16px 0 rgb(10, 71, 150), 0 6px 20px 0 rgb(10, 71, 150); 
    position: absolute;
    left: 550px;
    width: 160px;
    
    
}
    @keyframes bouncy {  /* start */ 
    20%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}
h1>span{
    /*color:white;*/
    top:35%;
    position: absolute;
    transition: translateY(-50%);
    margin: 0;
    padding: 0;
    width:100%;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    font-size:4em;
    text-transform: uppercase;
    letter-spacing: 5px;
    background:linear-gradient(#262626,#eaeaea,#262626);
    -webkit-background-clip: text;
    color:transparent;
  }
  h1>span:nth-child(1)
  {
    z-index: 2;
  }
  h1>span:nth-child(2)
  {
    z-index: 1;
    text-shadow: 1px 1px 0 #262626, 2px 2px 0 #262626, 3px 3px 0 #262626,
    4px 4px 0 #262626, 5px 5px 0 #262626, 1px 1px 0 #262626, 6px 20px 20px rgba(0,0,0,1),
    -1px -1px 0 #fff;
  }

#canvas {
    position: absolute;
    border: 3px solid rgb(21, 171, 194); 
    width: 1000px; 
    height: 700px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;    
}

.hidden {
    display: none !important;
}