html {
    background-color: black;
}
body {
    position: absolute;
    margin: 0;
    background-image:url("./image/supermanstartbackground.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    width: 1000px; 
    height: 700px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;     
}
.buttonarea {
    position: absolute;
    z-index: 10;
    top: 580px;
}
.bouncy:hover {background-color: #ffdd00}
.bouncy{
    animation:bouncy 4s infinite linear;
    position:relative;
    background-color: rgba(243, 192, 9, 0.87);
    border-color:rgb(10, 71, 150);
    border-width: 5px;
    color:rgba(243, 2, 2, 0.876);
    font-weight: bold;
    box-shadow: 0 8px 16px 0 rgb(10, 71, 150), 0 6px 20px 0 rgb(10, 71, 150); 
    position: absolute;
    left: 550px;
    width: 160px;
    
    
}
    @keyframes bouncy {  /* start */ 
    20%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}
.gold{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50px;
    left: 380px;
    font-family: 'Times New Roman',serif;
    letter-spacing: 2px;
    font-size: 50px;
    font-weight: bold;
    color:transparent;
    background-image: linear-gradient(
     to right,
     #ff0000 0,
            #041dff 22%, 
     #334ff0 45%,
     #2060e9 50%,
     #263bf5 55%,
     #f61e1e 78%,
     #1c4ef4 100%
     );
    -webkit-background-clip:text;
 
 }
.gold2{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 280px;
    left: 220px;
    font-family: 'Times New Roman',serif;
    letter-spacing: 3px;
    font-size: 35px;
    font-weight: bold;
    color:transparent;
    background-image: linear-gradient(
     to right,
     #001aff 0,
            #041dff 22%, 
     #334ff0 45%,
     #2060e9 50%,
     #263bf5 55%,
     #581ef6 78%,
     #1c47f4 100%
     );
    -webkit-background-clip:text;
  
}
.wbutton{
    position: absolute;
    top: 475px;
    left: 27px;
}   

.wasd{
    animation:bouncy 5s infinite linear;
    position:relative;
    }
    @keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
    }
.allbutton{
    position: absolute;
    top: 500px;
    left: 200px;
}
.button1{
    position: absolute;
    top: 450px;
    left: 200px;
}



#canvas {
    position: absolute;
    border: 3px solid rgb(21, 171, 194); 
    width: 1000px; 
    height: 700px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;    
}

.hidden {
    display: none !important;
}